extends layout

block content
  div(class="center")
    h1 NOAA Weather Radio
    div(class="large") &#x1F4FB;
    p 
      audio(src="https://radiostar.blob.core.windows.net/outbox/latest.wav" controls)
